<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <% date = DateTime.now %>
        <h1><%= date.strftime("The date is %A, %B %d, %Y") %></h1>
    </body>
</html>